Repository psychoschool/psychoschool: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --cache --fix", "prettier --write"],
  "*.{css,scss}": ["stylelint --fix", "prettier --write"],
  "*.{html,md,json}": ["prettier --write"]
}

feat: https ingress
  k8s/base/issuer.yml
Due: none

feat: https ingress
  k8s/base/certificate.yml
Due: none

feat: https ingress
  k8s/base/certificate.yml
  k8s/base/ingress.srv.yml
Due: none

feat: https ingress
  k8s/base/ingress.srv.yml
Due: none

feat: https ingress
  k8s/base/certificate.yml
  k8s/base/ingress.srv.yml
  k8s/base/issuer.yml
Due: none

feat: https ingress
  config/services/index.ts
Due: eslint --cache --fix, prettier --write

feat: startup proj with https
  .gitignore
  package.json
  setup.sh
  webpack/utils/devServer.ts
Due: eslint --cache --fix, prettier --write

feat: startup proj with https
  .dockerignore
  webpack/configs/spa.config.ts
  webpack/utils/devServer.ts
Due: eslint --cache --fix, prettier --write

feat: premium course - add Premium component
  src/components/course/consts.ts
  src/components/home/consts.ts
  src/components/home/courses-list/index.tsx
  src/components/home/index.tsx
  src/components/home/premium/bg.jpg
  src/components/home/premium/index.tsx
  src/components/home/premium/styles.scss
  src/entities/courses/courses.type.ts
  src/resources/types/courses.ts
  www/default.conf
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: auth block - add Link compoents
  src/components/@shared/drawer/menu/index.tsx
  src/components/auth/login/index.tsx
  src/components/auth/login/styles.scss
  src/components/auth/signup/index.tsx
  src/components/auth/signup/styles.scss
  src/components/home/filters/styles.scss
  src/pages/auth/styles.scss
  src/styles/variables.scss
  src/ui-kit/button/button.tsx
  src/ui-kit/link/index.ts
  src/ui-kit/link/link.tsx
  src/ui-kit/link/styles.scss
  src/ui-kit/link/types/index.ts
  src/ui-kit/link/types/props.ts
  src/ui-kit/link/utils/cn.util.ts
  src/ui-kit/link/utils/refered.util.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

Staging (#12)
  src/components/@shared/drawer/menu/index.tsx
  src/components/auth/login/index.tsx
  src/components/auth/login/styles.scss
  src/components/auth/signup/index.tsx
  src/components/auth/signup/styles.scss
  src/components/course/consts.ts
  src/components/home/consts.ts
  src/components/home/courses-list/index.tsx
  src/components/home/filters/styles.scss
  src/components/home/index.tsx
  src/components/home/premium/bg.jpg
  src/components/home/premium/index.tsx
  src/components/home/premium/styles.scss
  src/entities/courses/courses.type.ts
  src/pages/auth/styles.scss
  src/resources/types/courses.ts
  src/styles/variables.scss
  src/ui-kit/button/button.tsx
  src/ui-kit/link/index.ts
  src/ui-kit/link/link.tsx
  src/ui-kit/link/styles.scss
  src/ui-kit/link/types/index.ts
  src/ui-kit/link/types/props.ts
  src/ui-kit/link/utils/cn.util.ts
  src/ui-kit/link/utils/refered.util.ts
  www/default.conf
Due: eslint --cache --fix, prettier --write, stylelint --fix

feature: auth cleanup - fix auth msg
  README.md
  src/components/auth/login/index.tsx
  src/components/auth/signup/index.tsx
Due: eslint --cache --fix, prettier --write

Create dependabot.yml
  .github/dependabot.yml
Due: none

feature: snackbar - add UiKit Snackbar component
  src/components/@shared/app/index.tsx
  src/ui-kit/snackbar/components/index.ts
  src/ui-kit/snackbar/components/snack-provider/index.ts
  src/ui-kit/snackbar/components/snack-provider/snack-provider.tsx
  src/ui-kit/snackbar/components/snack-provider/styles.scss
  src/ui-kit/snackbar/components/snack-provider/types/index.ts
  src/ui-kit/snackbar/components/snack-provider/types/props.ts
  src/ui-kit/snackbar/components/snack-provider/utils/cn.util.ts
  src/ui-kit/snackbar/components/snack/index.ts
  src/ui-kit/snackbar/components/snack/snack.tsx
  src/ui-kit/snackbar/components/snack/styles.scss
  src/ui-kit/snackbar/components/snack/types/index.ts
  src/ui-kit/snackbar/components/snack/types/props.ts
  src/ui-kit/snackbar/components/snack/utils/cn.util.ts
  src/ui-kit/snackbar/index.ts
  src/utils/useinterval.util.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

feature: snackbar - add useSnackbar hook
  src/components/auth/signup/index.tsx
  src/ui-kit/snackbar/components/snack-provider/snack-provider.tsx
  src/ui-kit/snackbar/components/snack-provider/types/props.ts
  src/ui-kit/snackbar/components/snack/snack.tsx
  src/ui-kit/snackbar/index.ts
  src/ui-kit/snackbar/useSnackbar.ts
Due: eslint --cache --fix, prettier --write

feature: snackbar - refactor to useTheme hook
  src/components/@shared/app/index.tsx
  src/components/@shared/drawer/index.tsx
  src/components/@shared/drawer/menu/index.tsx
  src/ui-kit/accordion/index.tsx
  src/ui-kit/link/link.tsx
  src/utils/theme/index.ts
  src/utils/theme/theme-provider.tsx
  src/utils/theme/theme.hooks.ts
  src/utils/theme/theme.types.ts
  src/utils/theme/theme.util.ts
Due: eslint --cache --fix, prettier --write

Feature/snackbar (#11)
  src/components/@shared/app/index.tsx
  src/components/@shared/drawer/index.tsx
  src/components/@shared/drawer/menu/index.tsx
  src/components/auth/login/index.tsx
  src/components/auth/signup/index.tsx
  src/ui-kit/accordion/index.tsx
  src/ui-kit/link/link.tsx
  src/ui-kit/snackbar/components/index.ts
  src/ui-kit/snackbar/components/snack-provider/index.ts
  src/ui-kit/snackbar/components/snack-provider/snack-provider.tsx
  src/ui-kit/snackbar/components/snack-provider/styles.scss
  src/ui-kit/snackbar/components/snack-provider/types/index.ts
  src/ui-kit/snackbar/components/snack-provider/types/props.ts
  src/ui-kit/snackbar/components/snack-provider/utils/cn.util.ts
  src/ui-kit/snackbar/components/snack/index.ts
  src/ui-kit/snackbar/components/snack/snack.tsx
  src/ui-kit/snackbar/components/snack/styles.scss
  src/ui-kit/snackbar/components/snack/types/index.ts
  src/ui-kit/snackbar/components/snack/types/props.ts
  src/ui-kit/snackbar/components/snack/utils/cn.util.ts
  src/ui-kit/snackbar/index.ts
  src/ui-kit/snackbar/useSnackbar.ts
  src/utils/theme/index.ts
  src/utils/theme/theme-provider.tsx
  src/utils/theme/theme.hooks.ts
  src/utils/theme/theme.types.ts
  src/utils/theme/theme.util.ts
  src/utils/useinterval.util.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

feature: snackbar - fix autoHideDuration
  src/components/@shared/app/index.tsx
  src/components/auth/signup/index.tsx
  src/ui-kit/snackbar/components/snack-provider/snack-provider.tsx
  src/ui-kit/snackbar/components/snack-provider/styles.scss
  src/ui-kit/snackbar/components/snack-provider/types/props.ts
  src/ui-kit/snackbar/components/snack-provider/utils/cn.util.ts
  src/ui-kit/snackbar/components/snack/icons/close.icon.svg
  src/ui-kit/snackbar/components/snack/snack.tsx
  src/ui-kit/snackbar/components/snack/styles.scss
  src/ui-kit/snackbar/components/snack/types/props.ts
  src/ui-kit/snackbar/components/snack/utils/cn.util.ts
  src/ui-kit/snackbar/useSnackbar.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

feature: signup - add api call on signup form
  src/components/auth/signup/index.tsx
  src/entities/auth/auth.actions.ts
  src/entities/auth/auth.slice.ts
  src/entities/user/user.selector.ts
  src/entities/user/user.slice.ts
  src/entities/user/user.types.ts
  src/resources/api/auth.resource.ts
  src/resources/types/auth.type.ts
Due: eslint --cache --fix, prettier --write

feature: signup - redux refactor
  src/components/@shared/app/index.tsx
  src/components/auth/signup/index.tsx
  src/entities/ui/snacks/snacks.selector.ts
  src/entities/ui/snacks/snacks.slice.ts
  src/entities/ui/snacks/snacks.type.ts
  src/entities/ui/ui.actions.ts
  src/entities/ui/ui.reducer.ts
  src/resources/api/auth.resource.ts
  src/resources/types/auth.type.ts
  src/ui-kit/snackbar/components/snack-provider/snack-provider.tsx
  src/ui-kit/snackbar/components/snack-provider/types/props.ts
  src/ui-kit/snackbar/components/snack/snack.tsx
  src/ui-kit/snackbar/components/snack/types/props.ts
  src/ui-kit/snackbar/index.ts
  src/ui-kit/snackbar/useSnackbar.ts
Due: eslint --cache --fix, prettier --write

Feature/signup (#12)
  src/components/@shared/app/index.tsx
  src/components/auth/signup/index.tsx
  src/entities/auth/auth.actions.ts
  src/entities/auth/auth.slice.ts
  src/entities/ui/snacks/snacks.selector.ts
  src/entities/ui/snacks/snacks.slice.ts
  src/entities/ui/snacks/snacks.type.ts
  src/entities/ui/ui.actions.ts
  src/entities/ui/ui.reducer.ts
  src/entities/user/user.selector.ts
  src/entities/user/user.slice.ts
  src/entities/user/user.types.ts
  src/resources/api/auth.resource.ts
  src/resources/types/auth.type.ts
  src/ui-kit/snackbar/components/snack-provider/snack-provider.tsx
  src/ui-kit/snackbar/components/snack-provider/types/props.ts
  src/ui-kit/snackbar/components/snack/snack.tsx
  src/ui-kit/snackbar/components/snack/types/props.ts
  src/ui-kit/snackbar/index.ts
  src/ui-kit/snackbar/useSnackbar.ts
Due: eslint --cache --fix, prettier --write

feature: use-form - add useForm hook - setup form validation
  package.json
  src/components/auth/login/index.tsx
  src/components/auth/signup/index.tsx
  src/components/auth/signup/styles.scss
  src/components/auth/signup/validation.ts
  src/ui-kit/input/input.tsx
  src/ui-kit/input/styles.scss
  src/utils/form/index.ts
  src/utils/form/types/index.ts
  src/utils/form/useForm.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

feature: use-form - add useForm hook - setup form validation - setup snack notification
  package.json
  src/components/auth/login/index.tsx
  src/components/auth/login/validation.ts
  src/components/auth/signup/index.tsx
  src/entities/ui/snacks/snacks.slice.ts
  src/resources/api/auth.resource.ts
  src/resources/types/auth.type.ts
  src/utils/form/useForm.ts
  src/utils/form/utils/err.util.ts
Due: eslint --cache --fix, prettier --write
