Repository psychoschool/psychoschool: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, stylelint --fix

feat: theming - setup theme
  .editorconfig
  @types/utils/index.d.ts
  package.json
  src/components/@shared/app/index.tsx
  src/components/@shared/app/styles.scss
  src/components/@shared/drawer/icons/logo.png
  src/components/@shared/drawer/index.tsx
  src/components/@shared/drawer/styles.scss
  src/pages/home/index.tsx
  src/pages/home/styles.scss
  src/styles/variables.scss
  src/utils/local-storage.util.ts
  src/utils/theme/index.ts
  src/utils/theme/theme.consts.ts
  src/utils/theme/theme.types.ts
  src/utils/theme/theme.util.ts
  webpack/rules/styles.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: main page - add layout for main page
  .editorconfig
  src/components/@shared/drawer/icons/dark-mod.icon.svg
  src/components/@shared/drawer/icons/light-mode.icon.svg
  src/components/@shared/drawer/index.tsx
  src/components/@shared/drawer/styles.scss
  src/components/home/index.tsx
  src/components/home/listing/consts.ts
  src/components/home/listing/index.tsx
  src/components/home/listing/styles.scss
  src/components/home/styles.scss
  src/pages/home/index.tsx
  src/pages/home/styles.scss
  src/styles/variables.scss
  src/utils/theme/theme.consts.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

Feature/home page (#2)
  package.json
  src/components/home/index.tsx
  src/components/home/listing/consts.ts
  src/components/home/listing/icons/play.icon.svg
  src/components/home/listing/index.tsx
  src/components/home/listing/styles.scss
  src/components/home/preview/index.tsx
  src/components/home/preview/styles.scss
  src/components/home/styles.scss
  src/uikit/accordion/index.tsx
  src/uikit/accordion/styles.scss
  src/uikit/checkbox/checkbox.tsx
  src/uikit/checkbox/done.icon.svg
  src/uikit/checkbox/index.ts
  src/uikit/checkbox/styles.scss
  src/uikit/checkbox/types/index.ts
  src/uikit/checkbox/utils/cn.util.ts
  src/utils/useMeasure.ts
  tsconfig.json
  webpack/utils/alias.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

fixes
  webpack/configs/spa.config.ts
  webpack/plugins/html.plugin.ts
Due: eslint --cache --fix, prettier --write

feat: add github actions
  .github/workflows/main.yml
  package.json
Due: prettier --write

feat: add github actions - moved to docker
  .github/workflows/main.yml
  .gitignore
  Dockerfile
  package.json
  www/default.conf
  yarn.lock
Due: prettier --write

feat: add github actions - real ip
  www/default.conf
Due: none

fix: styles
  src/components/home/index.tsx
  src/components/home/listing/index.tsx
  src/components/home/listing/styles.scss
  src/components/home/styles.scss
  src/uikit/accordion/icons/arrow-forward.icon.svg
  src/uikit/accordion/index.tsx
  src/uikit/accordion/styles.scss
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: uikit (#3)
  package.json
  src/components/@shared/app/index.tsx
  src/components/auth/index.ts
  src/components/auth/login/avatar.png
  src/components/auth/login/index.tsx
  src/components/auth/login/styles.scss
  src/components/auth/login/user.icon.svg
  src/components/auth/signup/index.tsx
  src/components/home/index.tsx
  src/components/home/listing/index.tsx
  src/pages/auth/index.tsx
  src/pages/auth/nowere.png
  src/pages/auth/styles.scss
  src/ui-kit/accordion/icons/arrow-forward.icon.svg
  src/ui-kit/accordion/index.tsx
  src/ui-kit/accordion/styles.scss
  src/ui-kit/button/button.tsx
  src/ui-kit/button/getClassNames.ts
  src/ui-kit/button/index.ts
  src/ui-kit/button/styles.scss
  src/ui-kit/button/types.ts
  src/ui-kit/checkbox/checkbox.tsx
  src/ui-kit/checkbox/done.icon.svg
  src/ui-kit/checkbox/index.ts
  src/ui-kit/checkbox/styles.scss
  src/ui-kit/checkbox/types/index.ts
  src/ui-kit/checkbox/utils/cn.util.ts
  src/ui-kit/input/InputProps.ts
  src/ui-kit/input/getClassNames.ts
  src/ui-kit/input/index.ts
  src/ui-kit/input/input.tsx
  src/ui-kit/input/styles.scss
  src/ui-kit/input/types/autocomplete.ts
  src/ui-kit/input/types/index.ts
  src/ui-kit/input/types/size.ts
  src/ui-kit/input/types/type.ts
  src/utils/camelize.util.ts
  tsconfig.json
  webpack/utils/alias.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write, stylelint --fix

Feature/auth pages (#4)
  src/components/auth/login/index.tsx
  src/components/auth/signup/avatar.png
  src/components/auth/signup/index.tsx
  src/components/auth/signup/styles.scss
  src/components/auth/signup/user.icon.svg
  src/pages/auth/index.tsx
  src/pages/auth/styles.scss
  src/ui-kit/input/input.tsx
  src/ui-kit/input/styles.scss
Due: eslint --cache --fix, prettier --write, stylelint --fix

Feature/auth pages (#5)
  Dockerfile
Due: none

feat: listing page (#6)
  src/components/@shared/app/index.tsx
  src/components/course/index.tsx
  src/components/course/listing/consts.ts
  src/components/course/listing/icons/play.icon.svg
  src/components/course/listing/index.tsx
  src/components/course/listing/styles.scss
  src/components/course/preview/index.tsx
  src/components/course/preview/styles.scss
  src/components/course/styles.scss
  src/components/home/consts.ts
  src/components/home/icons/playlist.icon.svg
  src/components/home/index.tsx
  src/components/home/styles.scss
  src/pages/course/index.tsx
  src/ui-kit/button/button.tsx
  src/ui-kit/button/types/index.ts
  src/ui-kit/button/types/props.ts
  src/ui-kit/button/utils/cn.util.ts
  src/ui-kit/checkbox/types/props.ts
  src/ui-kit/chip/chip.tsx
  src/ui-kit/chip/index.ts
  src/ui-kit/chip/styles.scss
  src/ui-kit/chip/types/index.ts
  src/ui-kit/chip/types/props.ts
  src/ui-kit/chip/utils/cn.util.ts
  src/ui-kit/input/input.tsx
  src/ui-kit/input/types/index.ts
  src/ui-kit/input/types/props.ts
  src/ui-kit/input/utils/cn.util.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: styles for demo
  src/assets/index.html
  src/components/@shared/drawer/index.tsx
  src/components/@shared/drawer/styles.scss
  src/components/home/index.tsx
  src/components/home/styles.scss
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: popper (#7)
  package.json
  src/components/@shared/drawer/icons/dark-mod.icon.svg
  src/components/@shared/drawer/icons/light-mode.icon.svg
  src/components/@shared/drawer/icons/user.icon.svg
  src/components/@shared/drawer/index.tsx
  src/components/@shared/drawer/menu/icons/dark-mod.icon.svg
  src/components/@shared/drawer/menu/icons/light-mode.icon.svg
  src/components/@shared/drawer/menu/icons/logout.icon.svg
  src/components/@shared/drawer/menu/icons/person.icon.svg
  src/components/@shared/drawer/menu/index.tsx
  src/components/@shared/drawer/menu/styles.scss
  src/components/@shared/drawer/styles.scss
  src/components/auth/login/avatar.png
  src/ui-kit/popper/components/propper-container/index.ts
  src/ui-kit/popper/components/propper-container/popper-container.tsx
  src/ui-kit/popper/components/propper-container/types/index.ts
  src/ui-kit/popper/components/propper-container/types/props.ts
  src/ui-kit/popper/components/propper-container/utils/StyleArgs.ts
  src/ui-kit/popper/components/propper-container/utils/getComputedAlign.ts
  src/ui-kit/popper/components/propper-container/utils/getComputedPlacement.ts
  src/ui-kit/popper/components/propper-container/utils/getComputedPosition.ts
  src/ui-kit/popper/components/propper-container/utils/getPlacementPortalStyles.ts
  src/ui-kit/popper/components/propper-container/utils/getStyles.ts
  src/ui-kit/popper/components/propper-container/utils/index.ts
  src/ui-kit/popper/components/proppper-component/propper-component.tsx
  src/ui-kit/popper/components/proppper-component/styles.scss
  src/ui-kit/popper/components/proppper-component/types/index.ts
  src/ui-kit/popper/components/proppper-component/types/props.ts
  src/ui-kit/popper/components/proppper-component/utils/otside.util.ts
  src/ui-kit/popper/index.ts
  src/ui-kit/popper/popper.tsx
  src/ui-kit/popper/styles.scss
  src/ui-kit/popper/types/index.ts
  src/ui-kit/popper/types/props.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: premium (#8)
  src/components/@shared/drawer/menu/index.tsx
  src/components/@shared/drawer/menu/styles.scss
  src/components/home/consts.ts
  src/components/home/courses-list/free-course/icons/playlist.icon.svg
  src/components/home/courses-list/free-course/index.tsx
  src/components/home/courses-list/free-course/styles.scss
  src/components/home/courses-list/index.tsx
  src/components/home/courses-list/pro-course/index.tsx
  src/components/home/courses-list/pro-course/popup/icons/done.icon.svg
  src/components/home/courses-list/pro-course/popup/index.tsx
  src/components/home/courses-list/pro-course/popup/styles.scss
  src/components/home/courses-list/pro-course/styles.scss
  src/components/home/courses-list/styles.scss
  src/components/home/filters/consts.ts
  src/components/home/filters/index.tsx
  src/components/home/filters/styles.scss
  src/components/home/index.tsx
  src/entities/courses/courses.type.ts
  src/ui-kit/button/styles.scss
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: types
  src/components/home/consts.ts
  src/components/home/courses-list/index.tsx
  src/components/home/courses-list/pro-course/index.tsx
  src/components/home/courses-list/pro-course/popup/index.tsx
  src/components/home/courses-list/pro-course/popup/normalize.util.ts
  src/components/home/courses-list/pro-course/popup/status/icons/close.icon.svg
  src/components/home/courses-list/pro-course/popup/status/icons/done.icon.svg
  src/components/home/courses-list/pro-course/popup/status/index.tsx
  src/components/home/courses-list/pro-course/popup/status/styles.scss
  src/components/home/courses-list/pro-course/popup/styles.scss
  src/entities/courses/courses.type.ts
  src/ui-kit/popper/styles.scss
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: modal (#9)
  package.json
  src/components/@shared/app/index.tsx
  src/components/course/consts.ts
  src/components/course/index.tsx
  src/components/course/learn/index.tsx
  src/components/course/learn/listing/icons/play.icon.svg
  src/components/course/learn/listing/index.tsx
  src/components/course/learn/listing/styles.scss
  src/components/course/learn/preview/index.tsx
  src/components/course/learn/preview/styles.scss
  src/components/course/learn/styles.scss
  src/components/course/test.util.ts
  src/components/course/test/index.tsx
  src/components/home/consts.ts
  src/components/home/courses-list/free-course/index.tsx
  src/components/home/courses-list/index.tsx
  src/components/home/courses-list/pro-course/index.tsx
  src/components/home/courses-list/pro-course/popup/action/index.tsx
  src/components/home/courses-list/pro-course/popup/index.tsx
  src/components/home/courses-list/pro-course/popup/normalize.util.ts
  src/components/home/courses-list/pro-course/popup/styles.scss
  src/components/home/courses-list/pro-course/start.util.ts
  src/entities/courses/courses.type.ts
  src/pages/course/index.tsx
  src/ui-kit/button/button.tsx
  src/ui-kit/button/types/props.ts
  src/ui-kit/modal/index.ts
  src/ui-kit/modal/modal.tsx
  src/ui-kit/modal/styles.scss
  src/ui-kit/modal/types/index.ts
  src/ui-kit/modal/types/props.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: test (#10)
  package.json
  src/components/course/consts.ts
  src/components/course/index.tsx
  src/components/course/learn/index.tsx
  src/components/course/test/consts.ts
  src/components/course/test/index.tsx
  src/components/course/test/question/index.tsx
  src/components/course/test/question/styles.scss
  src/components/course/test/styles.scss
  src/components/home/consts.ts
  src/entities/courses/courses.type.ts
  src/ui-kit/button/button.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: styles
  src/components/auth/login/styles.scss
  src/components/auth/signup/styles.scss
Due: prettier --write, stylelint --fix

fix: courses index fix
  src/components/course/consts.ts
Due: eslint --cache --fix, prettier --write

feat: Move to k8s - moved app to DigitalOcean k8s
  .github/workflows/app.yml
  .github/workflows/main.yml
  .github/workflows/prod.yml
  Dockerfile
  k8s/ingress.srv.yml
  k8s/psycho-front.dpl.yml
  package.json
  www/default.conf
Due: prettier --write

fix: fix digitalocean action registry
  .github/workflows/app.yml
  .github/workflows/prod.yml
Due: none

feat: test route
  www/default.conf
Due: none

feat: test route
  k8s/ingress.srv.yml
Due: none

feat: digitalocean
  .github/workflows/main.yml
  k8s/ingress.srv.yml
  k8s/psycho-front.dpl.yml
Due: none

feat: digitalocean - add resources limits - setup ingress
  .dockerignore
  k8s/ingress.srv.yml
  k8s/psycho-front.dpl.yml
Due: none

feat: stage env - setup stage environment
  .github/workflows/app.prod.yml
  .github/workflows/app.stage.yml
  .github/workflows/main.prod.yml
  .github/workflows/main.stage.yml
  k8s/base/ingress.srv.yml
  k8s/prod/app.dpl.yml
  k8s/stage/app.dpl.yml
Due: none

feat: staging api - setup staging api endpoint
  README.md
  config/services/index.ts
Due: eslint --cache --fix, prettier --write

feat: setup api
  @types/utils/camelize.d.ts
  @types/utils/index.d.ts
  package.json
  src/components/@shared/drawer/index.tsx
  src/components/@shared/example/index.tsx
  src/components/course/test/question/index.tsx
  src/entities/auth/auth.slice.ts
  src/entities/example/example.api.ts
  src/errors/request-error.ts
  src/errors/resource-error.ts
  src/errors/response-error.ts
  src/resources/api/auth.resource.ts
  src/resources/schemas/auth.schema.ts
  src/resources/types/auth.type.ts
  src/resources/types/index.ts
  src/store/index.ts
  src/store/rootReducer.ts
  src/ui-kit/popper/components/proppper-component/propper-component.tsx
  src/utils/context.util.ts
  src/utils/request.util.ts
  src/utils/resource.util.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat: auth - setup sign in
  @types/utils/camelize.d.ts
  package.json
  src/components/@shared/drawer/index.tsx
  src/components/@shared/drawer/menu/index.tsx
  src/components/auth/login/index.tsx
  src/components/auth/signup/index.tsx
  src/entities/auth/auth.reducer.ts
  src/entities/auth/auth.selector.ts
  src/entities/auth/auth.slice.ts
  src/entities/auth/auth.types.ts
  src/resources/api/auth.resource.ts
  src/resources/types/auth.type.ts
  src/store/rootReducer.ts
  webpack/utils/devServer.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat: env - fix env vars
  .dockerignore
  .env.example
  .github/workflows/app.stage.yml
  @types/env/index.d.ts
  config/services/index.ts
  webpack/configs/spa.config.ts
  webpack/plugins/define.plugin.ts
  webpack/plugins/environment.plugin.ts
  webpack/utils/env.ts
Due: eslint --cache --fix, prettier --write

fix: auth issue - fix auth
  .github/workflows/app.stage.yml
  src/components/@shared/app/index.tsx
  src/components/@shared/drawer/index.tsx
  src/entities/auth/auth.actions.ts
  src/entities/auth/auth.slice.ts
  src/entities/auth/auth.types.ts
  src/entities/user/user.reducer.ts
  src/entities/user/user.selector.ts
  src/entities/user/user.slice.ts
  src/entities/user/user.types.ts
  src/pages/auth/index.tsx
  src/resources/api/auth.resource.ts
  src/resources/api/user.resource.ts
  src/resources/types/auth.type.ts
  src/resources/types/index.ts
  src/resources/types/user.types.ts
  src/store/rootReducer.ts
Due: eslint --cache --fix, prettier --write

fix: env
  .github/workflows/app.prod.yml
Due: none

fix: env
  .github/workflows/app.prod.yml
  .github/workflows/app.stage.yml
  k8s/prod/Dockerfile
  k8s/stage/Dockerfile
Due: none

feat: https
  k8s/base/certificate.yml
  k8s/base/issuer.yml
Due: none

feat: https ingress
  k8s/base/ingress.srv.yml
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{html,md,json})
  stylelint --fix: any of: *.{css,scss}
