Repository psychoschool/psychoschool: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, stylelint --fix

Fearure/use form (#13)
  src/components/auth/login/index.tsx
  src/components/auth/login/validation.ts
  src/components/auth/signup/index.tsx
  src/components/auth/signup/styles.scss
  src/components/auth/signup/validation.ts
  src/entities/ui/snacks/snacks.slice.ts
  src/resources/api/auth.resource.ts
  src/resources/types/auth.type.ts
  src/ui-kit/input/input.tsx
  src/ui-kit/input/styles.scss
  src/utils/form/index.ts
  src/utils/form/types/index.ts
  src/utils/form/useForm.ts
  src/utils/form/utils/err.util.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

Staging (#14)
  src/components/@shared/app/index.tsx
  src/components/auth/login/index.tsx
  src/components/auth/login/validation.ts
  src/components/auth/signup/index.tsx
  src/components/auth/signup/styles.scss
  src/components/auth/signup/validation.ts
  src/entities/auth/auth.actions.ts
  src/entities/auth/auth.slice.ts
  src/entities/ui/snacks/snacks.selector.ts
  src/entities/ui/snacks/snacks.slice.ts
  src/entities/ui/snacks/snacks.type.ts
  src/entities/ui/ui.actions.ts
  src/entities/ui/ui.reducer.ts
  src/entities/user/user.selector.ts
  src/entities/user/user.slice.ts
  src/entities/user/user.types.ts
  src/resources/api/auth.resource.ts
  src/resources/types/auth.type.ts
  src/ui-kit/input/input.tsx
  src/ui-kit/input/styles.scss
  src/ui-kit/snackbar/components/snack-provider/snack-provider.tsx
  src/ui-kit/snackbar/components/snack-provider/styles.scss
  src/ui-kit/snackbar/components/snack-provider/types/props.ts
  src/ui-kit/snackbar/components/snack-provider/utils/cn.util.ts
  src/ui-kit/snackbar/components/snack/icons/close.icon.svg
  src/ui-kit/snackbar/components/snack/snack.tsx
  src/ui-kit/snackbar/components/snack/styles.scss
  src/ui-kit/snackbar/components/snack/types/props.ts
  src/ui-kit/snackbar/components/snack/utils/cn.util.ts
  src/ui-kit/snackbar/index.ts
  src/ui-kit/snackbar/useSnackbar.ts
  src/utils/form/index.ts
  src/utils/form/types/index.ts
  src/utils/form/useForm.ts
  src/utils/form/utils/err.util.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: Link styles
  src/components/@shared/drawer/index.tsx
  src/components/@shared/drawer/menu/index.tsx
  src/ui-kit/accordion/index.tsx
  src/ui-kit/link/link.tsx
  src/ui-kit/link/styles.scss
  src/ui-kit/link/utils/cn.util.ts
  src/utils/hex.util.ts
  src/utils/theme/theme.hooks.ts
  src/utils/theme/theme.types.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: Input styles
  src/ui-kit/input/styles.scss
Due: prettier --write, stylelint --fix

feat: setup admin service
  k8s/base/ingress.srv.yml
Due: none

Staging (#15)
  k8s/base/ingress.srv.yml
  src/components/@shared/drawer/index.tsx
  src/components/@shared/drawer/menu/index.tsx
  src/ui-kit/accordion/index.tsx
  src/ui-kit/input/styles.scss
  src/ui-kit/link/link.tsx
  src/ui-kit/link/styles.scss
  src/ui-kit/link/utils/cn.util.ts
  src/utils/hex.util.ts
  src/utils/theme/theme.hooks.ts
  src/utils/theme/theme.types.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: start integration with backend
  @types/app/index.d.ts
  src/components/course/consts.ts
  src/components/course/index.tsx
  src/components/course/learn/index.tsx
  src/components/course/learn/listing/index.tsx
  src/components/course/test.util.ts
  src/components/course/test/consts.ts
  src/components/course/test/index.tsx
  src/components/course/test/question/index.tsx
  src/components/home/consts.ts
  src/components/home/courses-list/free-course/index.tsx
  src/components/home/courses-list/index.tsx
  src/components/home/courses-list/pro-course/index.tsx
  src/components/home/courses-list/pro-course/popup/action/index.tsx
  src/components/home/courses-list/pro-course/popup/index.tsx
  src/components/home/courses-list/pro-course/popup/normalize.util.ts
  src/components/home/courses-list/pro-course/popup/status/icons/close.icon.svg
  src/components/home/courses-list/pro-course/popup/status/icons/done.icon.svg
  src/components/home/courses-list/pro-course/popup/status/index.tsx
  src/components/home/courses-list/pro-course/popup/status/styles.scss
  src/components/home/courses-list/pro-course/popup/styles.scss
  src/components/home/courses-list/pro-course/start.util.ts
  src/components/home/courses-list/pro-course/styles.scss
  src/components/home/index.tsx
  src/components/home/premium/consts.ts
  src/components/home/premium/index.tsx
  src/entities/courses/courses.reducer.ts
  src/entities/courses/courses.selector.ts
  src/entities/courses/courses.slice.ts
  src/entities/courses/courses.type.ts
  src/entities/courses/courses.types.ts
  src/pages/course/index.tsx
  src/resources/api/course.resource.ts
  src/resources/schemas/course.schema.ts
  src/resources/types/course.type.ts
  src/resources/types/courses.ts
  src/resources/types/index.ts
  src/resources/types/user.types.ts
  src/store/rootReducer.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: add course page
  src/components/@shared/app/index.tsx
  src/components/course/consts.ts
  src/components/course/icons/done.icon.svg
  src/components/course/index.tsx
  src/components/course/styles.scss
  src/components/course/test.util.ts
  src/components/home/courses-list/free-course/index.tsx
  src/components/home/premium/consts.ts
  src/components/lesson/index.tsx
  src/components/lesson/listing/icons/play.icon.svg
  src/components/lesson/listing/index.tsx
  src/components/lesson/listing/styles.scss
  src/components/lesson/preview/index.tsx
  src/components/lesson/preview/styles.scss
  src/components/lesson/styles.scss
  src/components/lesson/test/consts.ts
  src/components/lesson/test/index.tsx
  src/components/lesson/test/question/index.tsx
  src/components/lesson/test/question/styles.scss
  src/components/lesson/test/styles.scss
  src/entities/courses/courses.slice.ts
  src/pages/lesson/index.tsx
  src/resources/api/course.resource.ts
  src/resources/types/course.type.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: refactor
  src/components/course/components/large-card/index.tsx
  src/components/course/components/large-card/styles.scss
  src/components/course/components/large-card/utils/index.ts
  src/components/course/components/materials/index.tsx
  src/components/course/components/materials/styles.scss
  src/components/course/components/skills/icons/done.icon.svg
  src/components/course/components/skills/index.tsx
  src/components/course/components/skills/styles.scss
  src/components/course/components/small-card/index.tsx
  src/components/course/components/small-card/styles.scss
  src/components/course/index.tsx
  src/components/course/styles.scss
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: styles
  src/components/course/components/skills/styles.scss
  src/components/course/components/small-card/index.tsx
  src/components/course/components/small-card/styles.scss
  src/components/course/styles.scss
Due: eslint --cache --fix, prettier --write, stylelint --fix

Feature/course page (#16)
  src/components/@shared/app/index.tsx
  src/components/course/components/large-card/index.tsx
  src/components/course/components/large-card/styles.scss
  src/components/course/components/large-card/utils/index.ts
  src/components/course/components/materials/index.tsx
  src/components/course/components/materials/styles.scss
  src/components/course/components/skills/icons/done.icon.svg
  src/components/course/components/skills/index.tsx
  src/components/course/components/skills/styles.scss
  src/components/course/components/small-card/index.tsx
  src/components/course/components/small-card/styles.scss
  src/components/course/consts.ts
  src/components/course/index.tsx
  src/components/course/styles.scss
  src/components/course/test.util.ts
  src/components/home/courses-list/free-course/index.tsx
  src/components/home/premium/consts.ts
  src/components/lesson/index.tsx
  src/components/lesson/listing/icons/play.icon.svg
  src/components/lesson/listing/index.tsx
  src/components/lesson/listing/styles.scss
  src/components/lesson/preview/index.tsx
  src/components/lesson/preview/styles.scss
  src/components/lesson/styles.scss
  src/components/lesson/test/consts.ts
  src/components/lesson/test/index.tsx
  src/components/lesson/test/question/index.tsx
  src/components/lesson/test/question/styles.scss
  src/components/lesson/test/styles.scss
  src/entities/courses/courses.slice.ts
  src/pages/lesson/index.tsx
  src/resources/api/course.resource.ts
  src/resources/types/course.type.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: setup add lesson
  src/components/course/components/large-card/index.tsx
  src/components/course/components/small-card/index.tsx
  src/components/course/components/submit-btn/index.tsx
  src/components/home/courses-list/free-course/index.tsx
  src/components/home/courses-list/index.tsx
  src/components/home/index.tsx
  src/entities/lessons/lessons.reducer.ts
  src/entities/lessons/lessons.selector.ts
  src/entities/lessons/lessons.slice.ts
  src/entities/lessons/lessons.types.ts
  src/pages/home/index.tsx
  src/pages/lesson/index.tsx
  src/resources/api/lesson.resource.ts
  src/resources/schemas/lesson.schema.ts
  src/resources/types/index.ts
  src/resources/types/lesson.type.ts
  src/store/rootReducer.ts
  src/utils/course.util.ts
Due: eslint --cache --fix, prettier --write

feat: setup nextLec link
  .husky/pre-commit
  src/components/@shared/app/index.tsx
  src/components/home/courses-list/index.tsx
  src/components/home/index.tsx
  src/components/home/lessons-list/index.tsx
  src/components/home/lessons-list/lesson/icons/playlist.icon.svg
  src/components/home/lessons-list/lesson/index.tsx
  src/components/home/lessons-list/lesson/styles.scss
  src/components/home/lessons-list/styles.scss
  src/components/home/premium/index.tsx
  src/utils/lesson/__spec__/nextLec.spec.ts
  src/utils/lesson/index.ts
  src/utils/lesson/nextLec.util.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: setup nextLec link
  src/components/lesson/index.tsx
  src/components/lesson/listing/index.tsx
  src/entities/courses/courses.types.ts
  src/pages/lesson/index.tsx
  src/utils/lesson/__spec__/get-index.spec.ts
  src/utils/lesson/__spec__/next-lec.spec.ts
  src/utils/lesson/get-index.util.ts
  src/utils/lesson/index.ts
  src/utils/lesson/next-lec.util.ts
Due: eslint --cache --fix, prettier --write

feat: temp
  src/entities/lessons/lessons.reducer.ts
  src/entities/lessons/lessons.selector.ts
  src/entities/lessons/lessons.slice.ts
  src/pages/lesson/index.tsx
  src/store/rootReducer.ts
  src/utils/lesson/__spec__/next-lec.spec.ts
Due: eslint --cache --fix, prettier --write

feat: updates after backend refactor
  @types/app/index.d.ts
  src/resources/api/course.resource.ts
  src/resources/api/lesson.resource.ts
  src/resources/api/user.resource.ts
Due: eslint --cache --fix, prettier --write

feat: update notfound page
  src/pages/not-found/index.tsx
Due: eslint --cache --fix, prettier --write

feat: update notfound page (#17)
  src/pages/not-found/index.tsx
Due: eslint --cache --fix, prettier --write

Add CROSS_ENV
  .prettierrc
  package.json
  webpack/utils/devServer.ts
Due: eslint --cache --fix, prettier --write

feat: add course meta
  src/components/course/components/submit-btn/index.tsx
  src/components/lesson/index.tsx
  src/entities/courses/courses.reducer.ts
  src/entities/courses/courses.selector.ts
  src/entities/courses/courses.slice.ts
  src/entities/lessons/lessons.slice.ts
  src/pages/course/index.tsx
  src/pages/lesson/index.tsx
  src/pages/not-found/index.tsx
  src/resources/api/course.resource.ts
  src/store/rootReducer.ts
Due: eslint --cache --fix, prettier --write

feat: add update lesson progress
  src/components/lesson/index.tsx
  src/components/lesson/listing/index.tsx
  src/components/lesson/listing/utils/__spec__/completed.spec.ts
  src/components/lesson/listing/utils/completed.util.ts
  src/components/lesson/listing/utils/index.ts
  src/entities/lessons/lessons.slice.ts
  src/resources/api/lesson.resource.ts
Due: eslint --cache --fix, prettier --write

feat: add update lesson progress
  src/components/course/components/submit-btn/index.tsx
  src/pages/course/index.tsx
  src/pages/home/index.tsx
Due: eslint --cache --fix, prettier --write

feat: fixes
  @types/app/index.d.ts
  src/resources/api/auth.resource.ts
  src/resources/api/course.resource.ts
  src/resources/api/lesson.resource.ts
  src/resources/api/user.resource.ts
  src/resources/schemas/auth.schema.ts
Due: eslint --cache --fix, prettier --write

feat: fixes
  src/components/auth/login/index.tsx
  src/components/auth/signup/index.tsx
  src/entities/lessons/lessons.slice.ts
  src/entities/user/user.slice.ts
  src/styles/reset.scss
  src/utils/form/useForm.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: refactor
  @types/app/index.d.ts
  src/components/course/components/submit-btn/index.tsx
  src/components/home/premium/consts.ts
  src/entities/courses/courses.types.ts
  src/resources/api/course.resource.ts
  src/resources/api/lesson.resource.ts
  src/resources/api/user.resource.ts
  src/resources/schemas/course.schema.ts
  src/resources/types/course.type.ts
  src/resources/types/lesson.type.ts
Due: eslint --cache --fix, prettier --write

feat: form fixes
  src/components/auth/login/index.tsx
  src/styles/reset.scss
  src/ui-kit/input/input.tsx
  src/ui-kit/input/styles.scss
  src/ui-kit/input/utils/cn.util.ts
  src/utils/form/useForm.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: form fixes
  package.json
  src/components/@shared/drawer/menu/index.tsx
  src/components/auth/login/index.tsx
  src/components/auth/signup/index.tsx
  src/components/course/components/skills/index.tsx
  src/pages/course/index.tsx
  src/ui-kit/input/input.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat: form fixes
  config/services/index.ts
  src/components/home/index.tsx
  src/components/home/premium/consts.ts
  src/components/home/promo/bg.jpg
  src/components/home/promo/index.tsx
  src/components/home/promo/styles.scss
  src/utils/debugger.util.ts
  src/utils/env.util.ts
  webpack/configs/spa.config.ts
  webpack/plugins/define.plugin.ts
  webpack/plugins/environment.plugin.ts
  webpack/plugins/index.ts
  webpack/utils/env.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: form fixes
  src/assets/index.html
  src/components/@shared/app/index.tsx
  src/components/lesson/index.tsx
  src/components/lesson/listing/index.tsx
  src/pages/pay/index.tsx
  src/pages/pay/styles.scss
  src/pages/pay/useWistia.ts
  src/resources/types/course.type.ts
  src/utils/script.util.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: player add Wistia player
  @types/app/index.d.ts
  src/pages/pay/index.tsx
  src/pages/pay/useWistia.ts
  src/ui-kit/player/components/wistia/index.tsx
  src/ui-kit/player/components/wistia/types.ts
  src/ui-kit/player/index.ts
  src/ui-kit/player/player.tsx
  src/ui-kit/player/styles.scss
  src/ui-kit/player/types/index.ts
  src/ui-kit/player/types/props.ts
  src/ui-kit/player/utils/can-play.ts
  src/ui-kit/player/utils/index.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: player add player
  @types/app/index.d.ts
  package.json
  src/assets/index.html
  src/components/lesson/index.tsx
  src/components/lesson/listing/index.tsx
  src/components/lesson/preview/index.tsx
  src/components/lesson/preview/styles.scss
  src/pages/pay/index.tsx
  src/ui-kit/checkbox/checkbox.tsx
  src/ui-kit/player/components/index.ts
  src/ui-kit/player/components/wistia/index.tsx
  src/ui-kit/player/components/youtube/index.tsx
  src/ui-kit/player/player.tsx
  src/ui-kit/player/styles.scss
  src/ui-kit/player/types/props.ts
  src/ui-kit/player/utils/can-play.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write, stylelint --fix

Feature/player (#18)
  @types/app/index.d.ts
  package.json
  src/assets/index.html
  src/components/lesson/index.tsx
  src/components/lesson/listing/index.tsx
  src/components/lesson/preview/index.tsx
  src/components/lesson/preview/styles.scss
  src/pages/pay/index.tsx
  src/pages/pay/useWistia.ts
  src/ui-kit/checkbox/checkbox.tsx
  src/ui-kit/player/components/index.ts
  src/ui-kit/player/components/wistia/index.tsx
  src/ui-kit/player/components/wistia/types.ts
  src/ui-kit/player/components/youtube/index.tsx
  src/ui-kit/player/index.ts
  src/ui-kit/player/player.tsx
  src/ui-kit/player/styles.scss
  src/ui-kit/player/types/index.ts
  src/ui-kit/player/types/props.ts
  src/ui-kit/player/utils/can-play.ts
  src/ui-kit/player/utils/index.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: refactor add Sandbox
  src/components/lesson/index.tsx
  src/components/lesson/listing/index.tsx
  src/components/lesson/sandbox/index.tsx
Due: eslint --cache --fix, prettier --write

feat: refactor add Sandbox
  src/components/@shared/example/index.tsx
  src/components/home/lessons-list/lesson/index.tsx
  src/components/home/lessons-list/lesson/styles.scss
  src/components/lesson/index.tsx
  src/components/lesson/sandbox/index.tsx
  src/entities/example/example.api.ts
  src/resources/schemas/lesson.schema.ts
  src/resources/types/lesson.type.ts
  src/store/index.ts
  src/store/rootReducer.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: refactor add Sandbox
  src/components/home/index.tsx
  src/components/home/lessons-list/styles.scss
  src/components/lesson/index.tsx
  src/components/lesson/listing/index.tsx
  src/components/lesson/sandbox/index.tsx
  src/ui-kit/checkbox/checkbox.tsx
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: react-player
  package.json
  src/components/lesson/sandbox/index.tsx
  src/ui-kit/player/components/index.ts
  src/ui-kit/player/components/wistia/index.tsx
  src/ui-kit/player/components/wistia/types.ts
  src/ui-kit/player/components/youtube/index.tsx
  src/ui-kit/player/player.tsx
  src/ui-kit/player/types/props.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat: react-player
  package.json
  src/components/lesson/index.tsx
  src/components/lesson/listing/index.tsx
  src/ui-kit/player/player.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

Staging (#25)
  package.json
  src/components/lesson/index.tsx
  src/components/lesson/listing/index.tsx
  src/components/lesson/sandbox/index.tsx
  src/ui-kit/player/player.tsx
  src/ui-kit/player/types/props.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat: react-player
  src/components/lesson/sandbox/index.tsx
  src/ui-kit/player/components/index.ts
  src/ui-kit/player/components/wistia/index.tsx
  src/ui-kit/player/components/wistia/types.ts
  src/ui-kit/player/components/youtube/index.tsx
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{html,md,json})
  stylelint --fix: any of: *.{css,scss}
